{% extends 'base.html.twig' %}

{% block title %}Gestions des formulaires de contact{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center my-3 mt-5">
            <h1>Les formulaires de contact soumis à traiter</h1>
        </div>
        <div class="mt-5">
            <table class="table table-light">
                <thead class="table-secondary">
                    <tr>
                        <th class="col-md-3">Nom de famille</th>
                        <th class="col-md-3">Prénom</th>
                        <th class="col-md-5">Question</th>
                        <th class="col-md-1 text-center">Valider</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contactForm in contactForms %}
                        <tr>
                            <td>{{ contactForm.lastname }}</td>
                            <td>{{ contactForm.firstname }}</td>
                            <td>{{ contactForm.question }}</td>
                            <td class="text-center">
                                <form name="checkState" method="post" action="#">
                                    <input class="form-check-input" type="checkbox" name="checkBoxState" id="checkBoxState" data-idcontactForm="{{ contactForm.id }}">
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun formulaire à traiter</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('contactForm') }}
{% endblock %}