{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
    {{ form_start(contactForm) }}
    <div class="container">
        <div class="my-5">
            <h1>Contactez-nous</h1>
        </div>
        <form>
            <div class="row mt-3">
                <div class="form-group form-control-lg col-md-6">
                    {{ form_label(contactForm.contactDetail.firstname) }}
                    {{ form_widget(contactForm.contactDetail.firstname, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(contactForm.contactDetail.firstname) }}
                </div>
                <div class="form-group form-control-lg col-md-6">
                    {{ form_label(contactForm.contactDetail.lastname) }}
                    {{ form_widget(contactForm.contactDetail.lastname, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(contactForm.contactDetail.lastname) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group form-control-lg col-md-6">
                    {{ form_label(contactForm.email) }}
                    {{ form_widget(contactForm.email, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(contactForm.email) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group form-control-lg col-md-12">
                    {{ form_label(contactForm.question) }}
                    {{ form_widget(contactForm.question, { 'attr': {'class': 'form-control' , 'rows' : '6'} }) }}
                    {{ form_errors(contactForm.question) }}
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg text-center">{{ button_label|default('Envoyer') }}</button>
            </div>
            {{ form_row(contactForm._token) }}
        </form>
    </div>
    {{ form_errors(contactForm) }}
    {{ form_end(contactForm) }}
{% endblock %}
